a {
  text-decoration: none;
}

.bg-dark {
  background-color: #343a40 !important;
}

.form-row{
  display: flex;
}

.form-row>[class*="col-"] {
  padding-right: 5px;
  padding-left: 10px;
}

.modal-window{
  display: none;
  padding-right: 15px;
}

.btn {
  &:active{
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,0.5);
  }
}